.grid > * {
  color: #fff;
  border-radius: 0.5em;
  padding: 0.5em;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
  gap: 10px;
}

.item1 {
  background-color: rgba(74, 102, 112, 0.7);
  border: 5px solid rgba(74, 102, 112, 1);
  grid-column: 1;
  grid-row: 1;
}

.item2 {
  background-color: rgba(214, 162, 173, 0.7);
  border: 5px solid rgba(214, 162, 173, 1);
  grid-column: 1;
  grid-row: 1;
}
